body {
    background: #1f2937;

}
.header  {
    display:flex;
    height: 50px;
    background: #1f2937;
    font-size: 24px;
    font-weight: extra-bold;
    font-style: hero;
    color: #f9faf8;
    justify-content:space-between;
    padding-left:  150px;
    padding-right: 150px;
    align-items: center;
}
.logo{
display: flex;
align-items: center;

}
.links a {
 margin-left: 20px;
 color: #f9faf8;
 text-decoration: none;
 text-decoration-color: #e5e7eb;
 font-size: 18px;

}

.arriba {
    display: flex;
    padding: 150px;
    background: #1f2937; 
    justify-content: space-around;
}
.main {
    font-size: 48px;
    color: #f9faf8; 
    font-weight: extra-bold
}
.submain{
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 150px;
    padding-bottom: 20px;

}
button {

    background-color: #3882f6;
    color: white;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
}

.rap {
    display:flex;
    flex-direction: row;
    background: white;  
    padding: 150px;
    justify-content:center;
    gap: 30px;
    margin-bottom: 0%;
    padding-bottom: 0px;
    padding-top: 20px;
   
    
}
.imagenes {
display: flex;
justify-content: center;
align-items: center;
    border: 3px solid #3882f6;
    border-radius: 10px;
    font-size: small;
    width: 150px;
    height: 150px;  
    
}
.ctexto {
    display: flex;
justify-content: center;
align-items: center;
    border-radius: 10px;
    font-size: small;
    width: 150px;
    height: 50px;  
}
.imgtext{
    display:flex;
    flex-direction: row;
    background: white;  
    padding: 150px;
    justify-content:center;
    gap: 40px;
    margin-top: 0px;
    border-top: 0px;
    padding: 0px;
    
}

.imgchidas {
    display: flex;
align-items: center;
justify-content: center;
background-color: white;  
 font-size: 36px;
 font-weight: bolder;
 color: #1f2937;
 padding: 30px;

}
.abajo {
padding: 100px;
background: #e5e7eb;
}
.frase{
    background: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937
}

.mabajo{
    padding:50px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionblue{
    background: #3882f6;
    color: #ffffff;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
    border-radius: 10px;
    

}

.verticala {

    display: flex;
    flex-direction: column;
    
}

.footer {
    display:flex;
justify-content: center;
align-content: center;
color: #e5e7eb;
padding: 30px;


}